<div id="Databind">
	<h3>Demo 1 绑定到 <b>scope</b> 下的变量</h3>
	<form>
		<div class="form-group">
			<label>Quantity:</label>
			<input type="number" class="form-control" min="0" ng-model="qty">
		</div>
		<div class="form-group">
			<label>Costs:</label>
			<input type="number" class="form-control" min="0" ng-model="cost">
		</div>
		<b>Total: </b>{{qty * cost}}
	</form>
	
	<h3>Demo 2 如果使用了 <b>别名(controllerAs)</b> , 绑定方式如下</h3>
	<form>
		<div class="form-group">
			<label>Quantity:</label>
			<input type="number" class="form-control" min="0" ng-model="DataBind.qty">
		</div>
		<div class="form-group">
			<label>Costs:</label>
			<input type="number" class="form-control" min="0" ng-model="DataBind.cost">
		</div>
		<b>Total: </b>{{DataBind.qty * DataBind.cost}}
	</form>
	
	<h3>Tip</h3>
	<p>Tip: 控制台查看输出</p>

	<h3>参考阅读</h3>
	<a href="https://beginor.github.io/2016/04/05/angularjs-controller-as.html" target="_blank">AngularJS 中的 controllerAs</a>
</div>

