<header class="header">
	<nav id="navbar-main" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<h1 class="brand">
					<a href="#">
						<img width="117" height="30" src="../../imgs/angularjs-for-header-only.svg" alt="AngularJS">
					</a>
				</h1>
				<ul class="nav">
					<li ui-sref="home" ui-sref-active="active"><a>Home</a></li>
					<li ui-sref="demo" ui-sref-active="active"><a>Demo</a></li>
					<li ui-sref="about" ui-sref-active="active"><a>About</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>